
.imagePreview  {
    width: 180px;
    height: 180px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}
.imagePreview img {
    width: 100%;
    height: 100%;
}
.uploadbtn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #DAA03DFF;
    border: none;
    color: #ffffff;
    font-size: 16px;
    
}