.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #DAA03DFF;;
    border-radius: 4px;
    background: #DAA03DFF;;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: rgb(189, 144, 66);;
    border-color: rgb(182, 142, 73);;
  }
  
  .button--inverse {
    background: transparent;
    color: #DAA03DFF;;
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    color: white;
    background: #DAA03DFF;;
  }
  
  .button--danger {
    background: #830000;
    border-color: #830000;
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: #f34343;
    border-color: #f34343;
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }